*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 40em) {

  html {
    font-size: 100%;
  }

}

@media (min-width: 64em) {

  html {
    font-size: 100%;
  }
  
  .col {
    padding-right: 1em;
    padding-left: 1em;
    float: left;
  }

}

.center {
  text-align: center;
}

.large {
  padding: 1.2em;
  font-size: 1.2em;
}

.small {
  padding: 0.8em;
  font-size: 0.8em;
}

.tiny {
  padding: 0.6em;
  font-size: 0.6em;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 1em;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

nav.top {
  line-height: 45px;
  height: 45px;
  background-color: #333333;
  position: relative;
}

nav.top .brand {
  color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
}

nav.top section {
  font-size: 0.8em;
  display: inline;
}

nav.top section input {
  display: inherit;
  padding-right: 0.8em;
  padding-left: 0.8em;
  height: 30px;
}

nav.top section a {
  display: inherit;
  color: #999999;
  padding: 0.5em;
  height: 40px;
  position: relative;
}

nav.top section a:hover {
  color: #cccccc;
}

a {
  color: #3377ff;
  text-decoration: none;
}

a:hover {
  color: #0055ff;
}

a.button {
  display: inline-block;
  color: white !important;
  padding-left: 1em;
  padding-bottom: 0.8em;
  padding-right: 1em;
  padding-top: 0.8em;
  background-color: #3377ff;
}

a.button.danger {
  background-color: #ff0000;
}

a.button.danger:hover {
  background-color: #cc0000;
}

a.button.success {
  background-color: #44cc00;
}

a.button.success:hover {
  background-color: #339900;
}

a.button:hover {
  background-color: #0055ff;
}

ul.inline {
  margin-left: -1em;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul.inline li {
  margin-left: 1em;
  float: left;
  display: block;
}

ul.stack {
  margin-left: -1em;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul.stack li {
  margin-left: 1em;
  display: block;
}

ul.stack li:hover {
  background-color: #fafafa;
}

ul.stack li a {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: block;
}

input {
  display: block;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-color: #999999;
  border-style: solid;
  border-width: 1px;
  padding: 0.6em;
}

.container {
  width: 90%;
  max-width: 80em;
  margin: 0 auto;
}

.row {
*zoom: 1;
}

.row:after, .row:before {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col {
  border: none;
  width: 100%;
}

.col.span-1 {
  width: 8.333333%;
}

.col.span-2 {
  width: 16.666666%;
}

.col.span-3 {
  width: 25.0%;
}

.col.span-4 {
  width: 33.333332%;
}

.col.span-5 {
  width: 41.666668%;
}

.col.span-6 {
  width: 50.0%;
}

.col.span-7 {
  width: 58.333332%;
}

.col.span-8 {
  width: 66.666664%;
}

.col.span-9 {
  width: 75.0%;
}

.col.span-10 {
  width: 83.333336%;
}

.col.span-11 {
  width: 91.666664%;
}

.col.flow-opposite {
  float: right;
}

.modal-backdrop {
  left: 0;
  height: 100%;
  position: fixed;
  opacity: 0.1;
  z-index: 1000;
  width: 100%;
  background-color: #333333;
  top: 0;
  bottom: 0;
}

.modal-body {
  width: 80%;
  right: 0;
  max-width: 55em;
  top: 88px;
  margin: 0 auto;
  padding: 2em;
  position: fixed;
  z-index: 1001;
  background-color: #ffffff;
  left: 0;
}

.modal-body.modal-close {
  content: x;
}